.app {display: flex;justify-content: center;align-items: center;flex-direction: column;gap: 20px;padding: 80px 0 0 0;}
input.search {width: 700px;height: 50px;font-size: 24px;padding: 0 0 0 20px;}
table {border: 1px solid #ddd;padding: 20px 20px;width: 720px;text-align: left;}
th, td {padding-bottom: 20px;font-size: 23px;}

